.title{
    display: flex;
    justify-content: center; 
    align-self: center;
    font-weight: 700;
}

.header {
    background-color: #ffffff;
   
}

.button {
    background-color: #D9D9D9;
    width: 60px;
    height: 60px;
    color: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    font-weight: 700;
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 4px;
}

.button:active{
    opacity: 0.8;
}